.box {
  width: 500px;
  text-align: left;
  background-color: #212121;
}

h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 12px;
  color: #e4e6eb;
}

.form-label {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #e4e6eb;
}

#formInput {
  background-color: #3d3d3d;
  color: #e4e6eb;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.form-error {
  border: 2px solid rgba(175, 19, 19, 0.753) !important;
}

#formInput::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.form {
  background-color: #212121;
  width: 175px;
  border-style: none;
}

.button.form:hover {
  background-color: #3d3d3d;
}

.control {
  display: flex;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}

.card-size {
  max-width: 360px;
}

.card {
  background-color: #212121;
  color: #e4e6eb;
}

.flex-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .button {
    max-width: -webkit-fill-available;
  }
}
